Flask
Flask-SQLAlchemy==3.0.5
SQLAlchemy==1.4.49
Flask-Migrate
psycopg2-binary  
Flask-Login
Flask-Security
Flask-Bcrypt
itsdangerous==1.1.0         
markupsafe==2.0.1           
Flask-WTF
email-validator
Flask-CORS
Flask-JWT-Extended
python-dotenv
Flask-Bootstrap
Flask-Mail
requests
python-dateutil
gunicorn
