Flask
Werkzeug
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary  
Flask-Login
Flask-Security
Flask-Bcrypt
itsdangerous==1.1.0
Flask-WTF
email-validator
Flask-CORS
Flask-JWT-Extended
python-dotenv
Flask-Bootstrap
requests
python-dateutil
gunicorn
Flask-Mail
