<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - eXpenserFX</title>
  <link rel="icon" href="{{ url_for('static', filename='images/Designer-removebg-preview.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
  <div class="container1">
    <div class="login-section">
      <h1>eXpenserFX</h1>
      <p class="tagline">Your Pocket Friend</p>

      <form class="form" method="POST" action="{{ url_for('main.signup') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(class="form-control", placeholder="Username") }}
          {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
        
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class="form-control", placeholder="Email", type="email") }}
          {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
        
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class="form-control", placeholder="Password") }}
          {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
        
        <div class="form-group">
          {{ form.confirm_password.label }}
          {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
          {% for error in form.confirm_password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
        
        <div class="forgot">
          <a href="{{ url_for('main.login') }}">Already have an account? Login</a>
        </div>
        {{ form.submit(class="login-btn", value="Sign Up") }}
      </form>
    </div>

    <div class="image-section1">
      <div class="overlay-card">
        <h4>Take Charge of Your Finances — Sign up now.</h4>
      </div>
      <div class="bottom-text">
        <h3>Break the Routine, <br> Master Your Money!</h3>
      </div>
    </div>
  </div>
</body>
</html>